<mat-card class="p-0">
    <mat-card-title class="">
      <div class="card-title-text">Team Tasks</div>
      <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Entar Task</mat-label>
              <input matInput placeholder="Task" [ngModelOptions]="{standalone: true}" [(ngModel)]="taskTeam" >
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <mat-label>Enter Description</mat-label>
              <textarea matInput placeholder="Description" [ngModelOptions]="{standalone: true}" [(ngModel)]="Description"></textarea>
            </mat-form-field>
          </form>
          <button mat-raised-button color="primary" (click)="onSubmit()">Add Task</button>
    </mat-card-content>        
    </mat-card>


    <!-- <mat-card class="p-0">
        <mat-card-title class="">
          <div class="card-title-text">Announcement</div>
          <mat-divider></mat-divider>
        </mat-card-title>
        <mat-card-content>
            <form class="example-form">
                
              
                <mat-form-field class="example-full-width">
                  <mat-label>Enter Announcement</mat-label>
                  <textarea matInput placeholder="Announcement" [ngModelOptions]="{standalone: true}" [(ngModel)]="announcement"></textarea>
                </mat-form-field>
              </form>
              <button mat-raised-button color="primary" (click)="onSubmit2()"> Add Announcement</button>
        </mat-card-content>        
        </mat-card> -->