<mat-grid-list cols="3" rowHeight="3:1">
  <mat-grid-tile style="background: rgb(173, 186, 230);  cursor: pointer; font-size: large;" (click)="ProjectLink()">Add
    Project</mat-grid-tile>
  <mat-grid-tile style="background: rgba(144, 238, 144, 0.89);  cursor: pointer;font-size: large;"
    (click)="StudentLink()">Add Memebr</mat-grid-tile>
  <mat-grid-tile style="background: lightpink;  cursor: pointer;font-size: large;" (click)="TaskLink()">Add
    Task</mat-grid-tile>
  <mat-grid-tile style="background: rgba(255, 0, 0, 0.637);  cursor: pointer; font-size: large;"
    (click)="ResourceLink()">Learning Resources</mat-grid-tile>
  <mat-grid-tile style="background: rgb(29, 110, 182);  cursor: pointer;font-size: large;" (click)="TeamtLink() ">Create
    Team</mat-grid-tile>

  <mat-grid-tile style="background: rgba(128, 0, 128, 0.849);  cursor: pointer;font-size: large;"
    (click)="skillsLink()">Add Skills</mat-grid-tile>
</mat-grid-list>
<div class="mt--72">
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.sm="70" fxFlex.gt-sm="70">


      <div class="py-16" fxLayout="column wrap">
        <mat-card-title class="mx-8">Team Name: {{ teamNames.teamName }}</mat-card-title>
        <mat-card>DeScription : {{ teamNames.deacription }}</mat-card>
      </div>

    </div>
  </div>
  <div class="mt--72">
    <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.sm="70" fxFlex.gt-sm="70">

        <div class="py-16" fxLayout="column wrap">
          <mat-card-title class="mx-8">Project Name</mat-card-title>
          <mat-card></mat-card>
        </div>
      </div>
    </div>

    <div class="mt--72">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.sm="70" fxFlex.gt-sm="70">

          <div class="py-16" fxLayout="column wrap">
            <mat-card-title class="mx-8">Ongoing Tasks</mat-card-title>

            <div *ngFor="let item of onGoingProjectList">
              <mat-card fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <mat-checkbox color="accent"></mat-checkbox>
                  <dev mat-mini-fab [color]="item.color" class="mx-24 mat-elevation-z0">

                  </dev>
                  <p class="font-weight-medium m-0 text-capitalize">
                    {{ item.taskName }}
                  </p>
                </div>

                <div fxHide.lt-sm fxLayout="row wrap" fxLayoutAlign="start center">
                  <p class="m-0 text-muted">
                    {{ item.description }}
                  </p>


                </div>

                <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-card>
            </div>
          </div>
        </div>

        <div fxFlex="100" fxFlex.sm="30" fxFlex.gt-sm="30">
          <div fxLayout="row wrap">


          </div>

        </div>
      </div>
    </div>