<mat-card style="height:200px;background-color: antiquewhite; ">
    <h1>Choose your skill to see learning resources </h1>
 
<form [formGroup]="contactForm" (ngSubmit)="submit()">
 
<p>
 
  <select formControlName="Skill"  style="height: 40px; width: 50%;">
    <option [ngValue]="null" disabled>Select Skill</option>
    <option *ngFor="let Skill of Skills" [ngValue]="Skill.item_text">{{Skill.item_text}}</option>
  </select>
 
  <button  mat-raised-button color="primary" type="submit"  style="margin-left: 300px; border-top: 400px;" >Submit</button>
</p>
 
</form>
</mat-card>

<mat-card style="height:400px;font-size: larger; background-color: antiquewhite;" >
    <p></p>
    <strong >  Learning Sources </strong>
    <mat-card>
    <div>
        
        <div *ngFor="let post of posts">
            <p></p>
            <p></p>
         <strong>Name of Channel: {{ post.channel_title}}</strong> 
         <p></p>
         <strong>Title: {{ post.title}}</strong>
         <p></p>
        <strong>URL:</strong> <strong><a href="url"> {{ post.url}}</a></strong> 
         <p></p>
         <strong>Views: {{ post.views}}</strong> 
        </div>
:
                  </div></mat-card>
   
</mat-card>