body {
  margin: 0;
  padding: 0;
}

ul {
  position: relative;
  top: -30px;
}

li {
  position: relative;
  display: inline;
  margin-right: 16px;
  padding-right: 60px;
  border-bottom: 5px solid #ebebeb;
  padding-bottom: 20px;
  left: -20px;
  font-size: 13.1px;
  font-family: "Arial" sans-serif;
  top: 30px;
}

li:nth-child(1) {
  padding-right: 95px;
}

li:nth-child(2) {
  padding-right: 80px;
}

li:nth-child(3) {
  padding-right: 70px;
}

li:nth-child(4) {
  padding-right: 38px;
}

li:nth-child(5) {
  padding-right: 114px;
}

li:nth-child(6) {
  padding-right: 19px;
}

.glyphicon-menu-down {
  position: relative;
  top: 75px;
  left: 20px;
  font-size: 8px;
  font-weight: bold;
}

.glyphicon-text-background {
  position: relative;
  top: 75px;
  left: 20px;
  font-size: 13px;
  color: green;
  opacity: 0.8;
}

.LRN-9098 {
  position: relative;
  top: 75px;
  left: 19px;
  font-size: 13px;
  font-size: 11px;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.open {
  color: #000019;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  font-size: 9px;
  font-weight: bold;
  margin: 2px;
  padding: 2px;
  left: -2px;
  position: relative;
}

.aria {
  color: gray;
  font-size: 9.1px;
  font-weight: bold;
  left: 1px;
  position: relative;
}

.access {
  font-size: 12px;
}

#upper_container_1 {
  height: 270px;
  width: 153px;
  background: #ebebeb;
  border-radius: 2px;
  position: relative;
  top: 102px;
  left: 18px;
}

#upper_container_2 {
  height: 270px;
  width: 158px;
  background: #ebebeb;
  border-radius: 2px;
  position: relative;
  left: 195px;
  top: -168px;
}

#upper_container_3 {
  height: 270px;
  width: 154px;
  background: #ebebeb;
  border-radius: 2px;
  position: relative;
  top: -438px;
  left: 374px;
}

#upper_container_4 {
  height: 270px;
  width: 152px;
  background: #ebebeb;
  border-radius: 2px;
  position: relative;
  top: -708px;
  left: 550px;
}

#upper_container_5 {
  height: 270px;
  width: 145px;
  background: #ebebeb;
  border-radius: 2px;
  position: relative;
  top: -978px;
  left: 726px;
}

#upper_container_6 {
  height: 270px;
  width: 135px;
  background: #ebebeb;
  border-radius: 2px;
  position: relative;
  top: -1249px;
  left: 897px;
}

.open_2 {
  color: #000019;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  font-size: 9px;
  font-weight: bold;
  margin: 2px;
  padding: 2px;
  left: -2px;
  position: relative;
}

.aria_2 {
  color: gray;
  font-size: 9.1px;
  font-weight: bold;
  left: 1px;
  position: relative;
}

.implement {
  font-size: 12px;
}

.LRN-9090 {
  position: relative;
  top: 75px;
  left: 19px;
  font-size: 13px;
  font-size: 11px;
  text-decoration: none;
}

#lower_container_1 {
  height: 270px;
  width: 153px;
  background: #ebebeb;
  border-radius: 2px;
  position: relative;
  top: 102px;
  left: 18px;
}

#lower_container_2 {
  height: 270px;
  width: 158px;
  background: #ebebeb;
  border-radius: 2px;
  position: relative;
  left: 195px;
  top: -168px;
}

#lower_container_3 {
  height: 270px;
  width: 154px;
  background: #ebebeb;
  border-radius: 2px;
  position: relative;
  top: -438px;
  left: 374px;
}

#lower_container_4 {
  height: 270px;
  width: 152px;
  background: #ebebeb;
  border-radius: 2px;
  position: relative;
  top: -708px;
  left: 550px;
}

#lower_container_5 {
  height: 270px;
  width: 145px;
  background: #ebebeb;
  border-radius: 2px;
  position: relative;
  top: -978px;
  left: 726px;
}

#lower_container_6 {
  height: 270px;
  width: 135px;
  background: #ebebeb;
  border-radius: 2px;
  position: relative;
  top: -1249px;
  left: 897px;
}

.upper_inard {
  height: 135px;
  width: 153px;
  border: 1px solid #c4c4c4;
  border-left: 5px solid #218b77;
  z-index: 300;
  position: relative;
  background: white;
}

.upper_lower_inard {
  height: 135px;
  width: 153px;
  border: 1px solid #c4c4c4;
  border-left: 5px solid #218b77;
  z-index: 500;
  position: relative;
  background: white;
}

.upper_2nd_row_inard {
  height: 135px;
  width: 158px;
  border: 1px solid #c4c4c4;
  border-left: 5px solid #218b77;
  z-index: 500;
  position: relative;
  background: white;
}

.upper_5_inard {
  height: 135px;
  width: 145px;
  border: 1px solid #c4c4c4;
  border-left: 5px solid #218b77;
  z-index: 500;
  position: relative;
  background: white;
}

.lower_upper_inard {
  height: 135px;
  width: 155px;
  border: 1px solid #c4c4c4;
  border-left: 5px solid #218b77;
  position: relative;
  background: white;
}

.lower_lower_inard {
  height: 135px;
  width: 155px;
  border: 1px solid #c4c4c4;
  border-left: 5px solid #218b77;
  z-index: 500;
  position: relative;
  background: white;
}

.upper_upper_first_paragraph {
  height: 270px;
  width: 73px;
  position: relative;
  top: -110px;
  left: 30px;
  z-index: 5001;
}

.upper_lower_first_paragraph {
  height: 70px;
  width: 73px;
  position: relative;
  top: -110px;
  left: 30px;
  z-index: 5001;
}

.upper_upper_second_paragraph {
  height: 270px;
  width: 73px;
  position: relative;
  top: -110px;
  left: 30px;
  z-index: 5001;
}

.upper_upper_fifth_paragraph {
  height: 270px;
  width: 73px;
  position: relative;
  top: -110px;
  left: 30px;
  z-index: 5001;
}

.lower_upper_first_paragraph {
  height: 70px;
  width: 73px;
  position: relative;
  top: -110px;
  left: 30px;
}

.lower_lower_first_paragraph {
  height: 170px;
  width: 73px;
  position: relative;
  top: -110px;
  left: 30px;
  z-index: 5001;
}

.lower_lower_inard:hover {
  background: #FFD281;
  z-index: 700;
}

.upper_inard :hover {
  background: #FFD281;
  z-index: 700;
}

.upper_lower_inard :hover {
  background: #FFD281;
  z-index: 700;
}

.upper_2nd_row_inard:hover {
  background: #FFD281;
  z-index: 700;
}

.upper_5_inard :hover {
  background: #FFD281;
  z-index: 700;
}

.lower_upper_inard :hover {
  background: #FFD281;
  z-index: 700;
}

.upper_upper_second_paragraph img {
  position: relative;
  top: -120px;
  left: 81px;
  height: 40px;
  width: 40px;
  border-radius: 4px;
}

.main_panel {
  height: 900px;
  width: 50px;
  background: #e8e8e8;
  position: fixed;
  z-index: 8000;
  right: 300px;
  top: 0;
}

.main_panel {
  border-left: 1px solid #b3b3b3;
}

.logo {
  height: 35px;
  width: 35px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  position: relative;
  margin: auto;
  top: 10px;
  background: url("http://jetfalcon.com/jira/logo.png");
}

.glyphicon-info-sign {
  position: relative;
  color: #787878;
  top: 30px;
  height: 40px;
  width: 50px;
  margin: auto;
  text-align: center;
  margin-bottom: -45px;
  padding-top: 13px;
}

.glyphicon-info-sign:hover {
  background: #d9d9d9;
}

.glyphicon-align-left {
  position: relative;
  color: #787878;
  top: 40px;
  height: 40px;
  width: 50px;
  margin: auto;
  text-align: center;
  margin-bottom: -45px;
  padding-top: 13px;
}

.glyphicon-align-left:hover {
  background: #d9d9d9;
}

.glyphicon-comment {
  position: relative;
  margin: auto;
  color: #787878;
  top: 70px;
  height: 40px;
  width: 50px;
  text-align: center;
  margin-bottom: -60px;
  padding-top: 13px;
}

.twenty {
  position: relative;
  margin: auto;
  color: #1c1c1c;
  top: 90px;
  font-size: 11px;
  text-align: center;
  height: 11px;
  width: 17px;
  border-radius: 50%;
  background: #d9d9d9;
}

.glyphicon-paperclip {
  position: relative;
  color: #787878;
  top: 80px;
  height: 50px;
  width: 50px;
  margin: auto;
  text-align: center;
  margin-bottom: -45px;
  padding-top: 10px;
}

.glyphicon-paperclip:hover {
  background: #d9d9d9;
}

.one {
  position: relative;
  margin: auto;
  color: #1c1c1c;
  top: 80px;
  font-size: 11px;
  text-align: center;
  height: 12px;
  width: 18px;
  border-radius: 50%;
  background: #d9d9d9;
}

.glyphicon-check {
  position: relative;
  color: #787878;
  top: 75px;
  height: 50px;
  width: 50px;
  margin: auto;
  text-align: center;
  margin-bottom: -45px;
  padding-top: 10px;
}

.glyphicon-check:hover {
  background: #d9d9d9;
}

.zero {
  position: relative;
  margin: auto;
  color: #1c1c1c;
  top: 80px;
  font-size: 11px;
  text-align: center;
  height: 12px;
  width: 18px;
  border-radius: 50%;
  background: #d9d9d9;
}

.glyphicon-console {
  position: relative;
  color: #787878;
  text-align: center;
  top: 65px;
  height: 50px;
  width: 50px;
  margin: auto;
  padding-top: 15px;
}

.glyphicon-console:hover {
  background: #d9d9d9;
}

.logo img {
  height: 34px;
  position: relative;
  margin: auto;
  left: -10px;
  top: 5px;
}

.panel_board {
  width: 300px;
  height: 900px;
  position: fixed;
  right: 0px;
  z-index: 9000;
  top: 0px;
  background: white;
}

.btn-group {
  postion: relative;
  left: 80px;
  background: #ebebeb;
  width: 45px;
  height: 35px;
  text-align: center;
  font-size: 26px;
  border-radius: 5px;
  padding-top: 2px;
  border: 1px solid #b3b3b3;
}

.glyphicon-remove {
  position: relative;
  float: right;
  right: 6px;
  font-size: 19px;
  margin-top: -18px;
  color: #191919;
}

.container {
  width: 290px;
  max-height: 400px;
  height: 400px;
  position: relative;
  float: bottom;
  top: 30px;
  text-overflow: hidden;
  overflow-y: scroll;
  padding-top: 5px;
}

.left_internal_sub_contaianer div {
  color: gray;
  font-size: 13px;
}

.right_internal_sub-container {
  width: 125px;
  max-height: 400px;
  height: 400px;
  position: relative;
  float: bottom;
  top: -730px;
  float: right;
  right: -15px;
  padding-bottom: -200px;
}/*# sourceMappingURL=dashboard.page.css.map */